{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol">
                {% for stock in stocks %}
                    <option value="{{ stock['symbol'] }}">{{ stock['symbol'].upper() }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="no_of_share" name="no_of_share" placeholder="NO_OF_SHARE" type="number">
        </div>
        <button class="btn btn-primary" type="submit">SELL</button>
    </form>
{% endblock %}